.chart-box{
    margin:10px;
    padding:0 16px;
    background-color: #fff;
    border:1px solid #ccc;
    border-radius: 2px;
}

ngx-charts-advanced-pie-chart .item-value {
    margin-top: 0 !important;
}

::ng-deep .row-color{ background-color : rgb(127, 192, 241) !important; }

.tb-dyn{
    display: flex !important;
    flex: 1;
}
.col-dyn-1{
    display: flex;
    height: 100%;
    flex: 1;
}
.col-dyn-2{
    display: flex;
    height: 100%;
    flex: 2;
}
.col-dyn-3{
    display: flex;
    height: 100%;
    flex: 3;
}
.col-dyn-4{
    display: flex;
    height: 100%;
    flex: 4;
}
.col-dyn-5{
    display: flex;
    height: 100%;
    flex: 5;
}
.col-dyn-6{
    display: flex;
    height: 100%;
    flex: 6;
}
