<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Dashboard</h1>
      </div>
      <!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Dashboard</li>
        </ol>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
  <div class="container-fluid">

    <!-- Small boxes (Stat box) -->
    <div
      class="row"
      *ngIf="superuser"
    >
      <div
        class="col-lg-4 col-6"
        *ngIf="superuser"
      >
        <!-- small box -->
        <a [routerLink]="['/user']">
          <div class="small-box-green" backg>
            <div class="inner">
              <h3>
                {{ countUtenti }}
              </h3>

              <p>Utenti totali</p>
            </div>
            <div class="icon" *ngIf="false">
              <i class="ion ion-home"></i>
            </div>
            <a [routerLink]="['/user']" class="small-box-footer small-box-green" *ngIf="false"
              >Più Info <i class="fas fa-arrow-circle-right"></i
            ></a>
          </div>
        </a>
      </div>
      <div class="col-lg-4 col-6">
        <!-- small box -->
        <a [routerLink]="['/schedini']">
          <div class="small-box-arancio ">
            <div class="inner">
              <h3>{{ countSchedini }}</h3>

              <p>Totali Schedini</p>
            </div>
            <div class="icon" *ngIf="false">
              <i class="ion ion-person-add"></i>
            </div>
            <a [routerLink]="['/user']" class="small-box-footer small-box-arancio" *ngIf="false"
              >Più Info <i class="fas fa-arrow-circle-right"></i
            ></a>
          </div>
        </a>
      </div>
      <!-- ./col -->
      <div class="col-lg-4 col-6">
        <!-- small box -->
        <a [routerLink]="['/prodotti']">
          <div class="small-box-blue ">
            <div class="inner">
              <h3>{{ countProdotti }}</h3>

              <p>Totali Prodotti</p>
            </div>
            <div class="icon" *ngIf="false">
              <i class="ion ion-person-add"></i>
            </div>
            <a [routerLink]="['/user']" class="small-box-footer small-box-arancio" *ngIf="false"
              >Più Info <i class="fas fa-arrow-circle-right"></i
            ></a>
          </div>
        </a>
      </div>
      
      <!-- ./col -->
      <div class="col-lg-3 col-6" *ngIf="false">
        <!-- small box -->
        <a [routerLink]="['/scadenze']">
          <div class="small-box-red ">
            <div class="inner">
              <h3>{{ countProgettoBocciati }}</h3>

              <p>Prodotti scannerizzati</p>
            </div>
            <div class="icon" *ngIf="false">
              <i class="ion ion-university"></i>
            </div>
            <a [routerLink]="['/progetti', '']" class="small-box-footer small-box-red" *ngIf="false"
              >Più info <i class="fas fa-arrow-circle-right"></i
            ></a>
          </div>
        </a>
      </div>
      <!-- ./col -->
    </div>
    <div class="col-sm-2" *ngIf="false">
      <div class="form-group">
          <label for="potenzaRichiesta">Seleziona Potenza</label>
          <select [(ngModel)]="potenzaRichiesta" class="custom-select" (change)="onChangePotenza($event.target.value)">
              <option value="">Seleziona</option>
              <option *ngFor="let item of potenzeRichieste" [value]="item.id">
                  {{ item.descrizione }}
              </option>
          </select>
      </div>
    </div>

  </div>

  <div class="row chart-filter" *ngIf="utente && user" >
    <div class="chart-box col-sm-5">
        <h4>Kcal Totali</h4>
        <ngx-charts-advanced-pie-chart
          [view]="view"
          [scheme]="colorScheme"
          [results]="single"
          [gradient]="gradient"
          (select)="onSelect($event)"
          (activate)="onActivate($event)"
          (deactivate)="onDeactivate($event)"          
        >
        </ngx-charts-advanced-pie-chart>    
    </div>
    
</div>
  <!-- Main row -->
</section>
<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h4 class="m-0 text-dark" *ngIf="superuser">Bilancini Associati</h4>
        <h4 class="m-0 text-dark" *ngIf="utente">Resoconto settimanale</h4>
      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container-fluid -->
</section>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div>
      <div class="scrollable-div-table" *ngIf="superuser">
        <ngx-datatable
          #marittimiTable
          style="col-md-12"
          [rows]="rows"
          [headerHeight]="45"
          [rowHeight]="'auto'"
          [footerHeight]="45"
          [columnMode]="'flex'"
          [loadingIndicator]="isLoading"
          [externalPaging]="true"
          [count]="page.totalElements"
          [offset]="page.pageNumber"
          [limit]="page.size"
          (page)="setPage($event)"
          (activate)="onActivate($event)"
        >
          <ngx-datatable-column
              name="Id"
              [resizeable]="false"
              [flexGrow] = "0.8"
          >
              <ng-template
              let-value="value"
              ngx-datatable-cell-template
              let-row="row"
          >
              {{row.schedino.id}}
              </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column
              name="Nome"
              [resizeable]="false"
              [flexGrow] = "0.8"
          >
              <ng-template
              let-value="value"
              ngx-datatable-cell-template
              let-row="row"
          >
              {{row.schedino.nome}}
              </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column
              name="Codice"
              [resizeable]="false"
              [flexGrow] = "0.8"
          >
              <ng-template
              let-value="value"
              ngx-datatable-cell-template
              let-row="row"
          >
              {{row.schedino.codice}}
              </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column
              name="Utente Associato"
              [resizeable]="false"
              [flexGrow] = "0.8"
          >
              <ng-template
              let-value="value"
              ngx-datatable-cell-template
              let-row="row"
          >
              {{row.firstName}} {{row.lastName}}
              </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>


      <div class="scrollable-div-table" *ngIf="utente">
        <ngx-datatable
          #marittimiTable
          style="col-md-12"
          [rows]="rows"
          [headerHeight]="45"
          [rowHeight]="'auto'"
          [footerHeight]="45"
          [columnMode]="'flex'"
          [loadingIndicator]="isLoading"
          [externalPaging]="true"
          [count]="page.totalElements"
          [offset]="page.pageNumber"
          [limit]="page.size"
        >
          <ngx-datatable-column *ngFor="let col of columns; let i = index" [prop]="col.prop" [name]="col.name" [flexGrow]="col.flexGrow">
            <ng-template ngx-datatable-header-template>
                {{ col.name }}
            </ng-template>
            <ng-template let-value="value" ngx-datatable-cell-template>
                {{ value }} {{col.name != "PRODOTTO" ? 'kcal' : ''}}
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </div>
  </div>

  <!-- Main row -->

  <app-s-spinner [visible]="isLoading"></app-s-spinner>
</section>

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="card"></div>
  </div>

  <!-- Main row -->

  <app-s-spinner [visible]="isLoading"></app-s-spinner>
</section>
<app-context-menu
  [isShow]="contextmenu"
  [x]="contextmenuX"
  [y]="contextmenuY"
  [id]="marittimoId"
>
</app-context-menu>
<!-- /.content -->
