<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Gestione Utente</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item">
                        <a routerLink="/user">Utente</a>
                    </li>
                    <li class="breadcrumb-item active">{{ title }}</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="card card-primary">
            <div class="card-header"></div>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-8">
                        <form
                            name="form"
                            [formGroup]="userForm"
                            (ngSubmit)="saveEntity()"
                            novalidate
                        >
                            <div class="form-group" *ngIf="!compagniaId">
                                <label for="organizationId">Conpagnia</label>
                                <select
                                    formControlName="organizationId"
                                    (change)="
                                        onChangeCompagnia($event.target.value)
                                    "
                                    class="form-control"
                                    [ngClass]="{
                                        'is-invalid':
                                            submitted && f.organizationId.errors
                                    }"
                                    required
                                >
                                    <option value="">Seleziona</option>
                                    <option
                                        *ngFor="let organization of compagnie"
                                        [value]="organization.id"
                                    >
                                        {{ organization.ragioneSociale }}
                                    </option>
                                </select>
                                <div
                                    *ngIf="
                                        (f.organizationId.dirty ||
                                            f.organizationId.touched) &&
                                        f.organizationId.errors
                                    "
                                    class="invalid-feedback"
                                >
                                    <div
                                        *ngIf="f.organizationId.errors.required"
                                    >
                                        Richiesta
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input
                                    type="text"
                                    formControlName="username"
                                    class="form-control"
                                    [ngClass]="{
                                        'is-invalid':
                                            submitted && f.username.errors
                                    }"
                                    required
                                />
                                <div
                                    *ngIf="
                                        (f.username.dirty ||
                                            f.username.touched) &&
                                        f.username.errors
                                    "
                                    class="invalid-feedback"
                                >
                                    <div *ngIf="f.username.errors.required">
                                        Richiesta
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="newUser" class="form-group">
                                <label for="password">Password</label>
                                <input
                                    type="password"
                                    formControlName="password"
                                    class="form-control"
                                    [ngClass]="{
                                        'is-invalid':
                                            submitted && f.password.errors
                                    }"
                                    required
                                />
                                <div
                                    *ngIf="
                                        (f.password.dirty ||
                                            f.password.touched) &&
                                        f.password.errors
                                    "
                                    class="invalid-feedback"
                                >
                                    <div *ngIf="f.password.errors.required">
                                        Richiesta
                                    </div>
                                    <div *ngIf="f.password.errors.minlength">
                                        La Password deve essere almento di 6
                                        caratteri
                                    </div>
                                </div>
                            </div>
                            <div *ngIf="newUser" class="form-group">
                                <label for="matchingPassword">
                                    Conferma Password
                                </label>
                                <input
                                    type="password"
                                    formControlName="matchingPassword"
                                    class="form-control"
                                    [ngClass]="{
                                        'is-invalid':
                                            submitted &&
                                            f.matchingPassword.errors
                                    }"
                                    required
                                />
                                <div
                                    *ngIf="
                                        (f.matchingPassword.dirty ||
                                            f.matchingPassword.touched) &&
                                        f.matchingPassword.errors
                                    "
                                    class="invalid-feedback"
                                >
                                    <div
                                        *ngIf="
                                            f.matchingPassword.errors.required
                                        "
                                    >
                                        Richiesta
                                    </div>
                                    <div
                                        *ngIf="
                                            f.matchingPassword.errors.mustMatch
                                        "
                                    >
                                        La Password deve corrispondere
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input
                                    type="text"
                                    formControlName="email"
                                    class="form-control"
                                    [ngClass]="{
                                        'is-invalid':
                                            submitted && f.email.errors
                                    }"
                                    required
                                />
                                <div
                                    *ngIf="
                                        (f.email.dirty || f.email.touched) &&
                                        f.email.errors
                                    "
                                    class="invalid-feedback"
                                >
                                    <div *ngIf="f.email.errors.required">
                                        Richiesta
                                    </div>
                                    <div *ngIf="f.email.errors.email">
                                        Email deve essere valida
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="firstName">Nome</label>
                                <input
                                    type="text"
                                    formControlName="firstName"
                                    class="form-control"
                                    [ngClass]="{
                                        'is-invalid':
                                            submitted && f.firstName.errors
                                    }"
                                />
                            </div>
                            <div class="form-group">
                                <label for="lastName">Cognome</label>
                                <input
                                    type="text"
                                    formControlName="lastName"
                                    class="form-control"
                                    [ngClass]="{
                                        'is-invalid':
                                            submitted && f.lastName.errors
                                    }"
                                />
                            </div>
                            <div class="form-group">
                                <div class="custom-control custom-switch">
                                    <input
                                        type="checkbox"
                                        formControlName="active"
                                        class="custom-control-input"
                                        id="customSwitch1"
                                    />
                                    <label
                                        class="custom-control-label"
                                        for="customSwitch1"
                                        >Attivo</label
                                    >
                                </div>
                            </div>
                            <div class="form-group" *ngIf="false">
                                <label for="landingPage">Home page</label>
                                <input
                                    type="text"
                                    formControlName="landingPage"
                                    class="form-control"
                                    [ngClass]="{
                                        'is-invalid':
                                            submitted && f.landingPage.errors
                                    }"
                                />
                            </div>
                            <div class="form-group">
                                <label class="ruolo-label" for="authorities"
                                    >Ruolo</label
                                >
                                <label
                                    class="ruolo-authorities-detail"
                                    formArrayName="authorities"
                                    *ngFor="
                                        let c of authoritiesFormArray.controls;
                                        let i = index
                                    "
                                >
                                    <input
                                        type="checkbox"
                                        [formControlName]="i"
                                    />
                                    {{ authorities[i].authority }}
                                </label>
                                <div
                                    *ngIf="
                                        (f.authorities.dirty ||
                                            f.authorities.touched) &&
                                        f.authorities.errors
                                    "
                                    class="invalid-feedback"
                                >
                                    <div *ngIf="f.authorities.errors.required">
                                        Richiesta
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <a
                                    class="btn btn-default"
                                    [routerLink]="'/user'"
                                    >Cancella</a
                                >
                                <button
                                    [disabled]="
                                        userForm.pristine || userForm.invalid
                                    "
                                    class="btn btn-primary"
                                >
                                    Salva
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /.row -->
            </div>
        </div>
    </div>
    <!-- container fluid -->

    <app-s-spinner [visible]="isLoading"></app-s-spinner>
</section>
<!-- /.content -->
