<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Gestione Utenti</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Utenti</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div *ngIf="superuser && false" class="col-sm-4">
                        <div class="form-group">
                            <label>Compagnia</label>
                            <select
                                [(ngModel)]="compagniaId"
                                (change)="
                                    onChangeCompagnia($event.target.value)
                                "
                                class="custom-select"
                                required
                            >
                                <option value="">Seleziona</option>
                                <option
                                    *ngFor="let organization of compagnie"
                                    [value]="organization.id"
                                >
                                    {{ organization.ragioneSociale }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Username</label>
                            <input
                                type="text"
                                [(ngModel)]="username"
                                class="form-control"
                            />
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label>Ruolo</label>
                            <select
                            
                                [(ngModel)]="roleId"
                                (change)="onChangeRole($event.target.value)"
                                class="custom-select"
                                required
                            >
                                <option value="">Seleziona</option>
                                <option
                                    *ngFor="let role of roles"
                                    [value]="role.authority"
                                >
                                    {{ role.description }}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <a (click)="search()" class="btn btn-success">Cerca</a>
                        <span></span>
                        <a
                            *ngIf="compagniaId && false"
                            [routerLink]="['/adduser', compagniaId]"
                            class="btn btn-primary"
                            >Nuovo Utente</a
                        >
                    </div>
                </div>
            </div>
            <!-- /.card-header -->

            <div class="card-body">
                <ngx-datatable
                    #userTable
                    style="col-md-12"
                    [rows]="rows"
                    [headerHeight]="45"
                    [rowHeight]="'auto'"
                    [footerHeight]="45"
                    [columnMode]="'flex'"
                    [loadingIndicator]="isLoading"
                    [externalPaging]="true"
                    [count]="page.totalElements"
                    [offset]="page.pageNumber"
                    [limit]="page.size"
                    (page)="setPage($event)"
                >
                    <ngx-datatable-column
                        prop="username"
                        name="Username"
                        [resizeable]="false"
                        [flexGrow] = "0.8"
                    ></ngx-datatable-column>
                    <ngx-datatable-column
                        prop="firstName"
                        name="Nome"
                        [resizeable]="false"
                        [flexGrow] = "0.8"
                    ></ngx-datatable-column>
                    <ngx-datatable-column
                        prop="lastName"
                        name="Cognome"
                        [resizeable]="false"
                        [flexGrow] = "0.8"
                    ></ngx-datatable-column>
                    <ngx-datatable-column
                        prop="email"
                        name="Email"
                        [resizeable]="false"
                        [flexGrow] = "0.8"
                    ></ngx-datatable-column>
                    <ngx-datatable-column
                        prop="authorities"
                        name="Ruolo"
                        [resizeable]="false"
                        [flexGrow] = "0.8"
                    >
                        <ng-template
                            let-value="value"
                            ngx-datatable-cell-template
                        >
                            <div *ngFor="let role of value; let i = index">
                                {{ role.description }}
                            </div>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column
                        prop="enabled"
                        name="Attivo"
                        [resizeable]="false"
                        [flexGrow] = "0.8"
                    >
                        <ng-template
                            let-value="value"
                            ngx-datatable-cell-template
                        >
                            <i
                                *ngIf="value === false"
                                class="fas fa-lock-open"
                            ></i>
                            <i *ngIf="value === true" class="fas fa-lock"></i>
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column 
                        name="Azioni" 
                        [resizeable]="false"
                        [flexGrow] = "0.8"
                    >
                        <ng-template
                            ngx-datatable-cell-template
                            let-rowIndex="rowIndex"
                            let-row="row"
                        >
                            <i
                                (click)="resetPassword(row)"
                                class="fas fa-bolt fa-lg"
                                title="Reset Password"
                            ></i>
                            <a
                                [routerLink]="['/pwduser', row.id]"
                                title="Cambio Password"
                            >
                                <i class="fas fa-key fa-lg"></i>
                            </a>
                            <a
                                [routerLink]="['/edituser', row.id]"
                                title="Modifica"
                            >
                                <i class="fas fa-pencil-alt fa-lg"></i>
                            </a>
                            <i
                                (click)="deleteEntity(row)"
                                class="fas fa-trash fa-lg"
                                title="Elimina"
                            ></i>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>
        </div>
    </div>
    <!-- Main row -->

    <app-s-spinner [visible]="isLoading"></app-s-spinner>
</section>
<!-- /.content -->
