<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Gestione Utente</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item">
                        <a routerLink="/user">Utente</a>
                    </li>
                    <li class="breadcrumb-item active">{{ title }}</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-md-12">
                <form
                    name="form"
                    [formGroup]="userForm"
                    (ngSubmit)="changePassword()"
                    novalidate
                >
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input
                            type="text"
                            formControlName="username"
                            class="form-control"
                            [ngClass]="{
                                'is-invalid': submitted && f.username.errors
                            }"
                            disabled="true"
                        />
                    </div>
                    <div *ngIf="false" class="form-group">
                        <label for="oldPassword">Vecchia Password</label>
                        <input
                            type="password"
                            formControlName="oldPassword"
                            class="form-control"
                            [ngClass]="{
                                'is-invalid': submitted && f.oldPassword.errors
                            }"
                            required
                        />
                        <div
                            *ngIf="
                                (f.oldPassword.dirty ||
                                    f.oldPassword.touched) &&
                                f.oldPassword.errors
                            "
                            class="invalid-feedback"
                        >
                            <div *ngIf="f.oldPassword.errors.required">
                                Richiesta
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="newPassword">Nuova Password</label>
                        <input
                            type="password"
                            formControlName="newPassword"
                            class="form-control"
                            [ngClass]="{
                                'is-invalid': submitted && f.newPassword.errors
                            }"
                            required
                        />
                        <div
                            *ngIf="
                                (f.newPassword.dirty ||
                                    f.newPassword.touched) &&
                                f.newPassword.errors
                            "
                            class="invalid-feedback"
                        >
                            <div *ngIf="f.newPassword.errors.required">
                                Richiesta
                            </div>
                            <div *ngIf="f.newPassword.errors.minlength">
                                La Password deve essere almento di 6 caratteri
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="matchingPassword">Conferma Password</label>
                        <input
                            type="password"
                            formControlName="matchingPassword"
                            class="form-control"
                            [ngClass]="{
                                'is-invalid':
                                    submitted && f.matchingPassword.errors
                            }"
                            required
                        />
                        <div
                            *ngIf="
                                (f.matchingPassword.dirty ||
                                    f.matchingPassword.touched) &&
                                f.matchingPassword.errors
                            "
                            class="invalid-feedback"
                        >
                            <div *ngIf="f.matchingPassword.errors.required">
                                Richiesta
                            </div>
                            <div *ngIf="f.matchingPassword.errors.mustMatch">
                                La Password deve corrispondere
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <a class="btn btn-default" [routerLink]="'/user'"
                            >Cancella</a
                        >
                        <button
                            [disabled]="userForm.pristine || userForm.invalid"
                            class="btn btn-primary"
                        >
                            Salva
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- Main row -->

    <app-s-spinner [visible]="isLoading"></app-s-spinner>
</section>
<!-- /.content -->
