<li class="nav-item dropdown user-menu">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" (click)="toggleDropdownMenu()">
        <img
            [src]="user.picture || 'assets/img/default-profile.png'"
            class="user-image img-circle elevation-2"
            alt="User Image"
        />
    </a>
    <ul #dropdownMenu  class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
        <!-- User image -->
        <li class="user-header bg-primary">
            <img
                [src]="user.picture || 'assets/img/default-profile.png'"
                class="img-circle elevation-2"
                alt="User Image"
            />

            <p>
                {{ user.displayName }}<br/>
                <span>{{ user.roleDescription }}</span>
                <small>
                    <span> </span>
                    <span *ngIf="false">{{ user.organizationName }}</span>
                    <span>Smart Scale</span>
                </small>
            </p>
        </li>

        <!-- Menu Footer-->
        <li class="user-footer">
            <a [routerLink]="['/profile']" class="btn btn-default btn-flat">
                Profilo
            </a>
            <a (click)="logout()" class="btn btn-default btn-flat float-right"
                >Esci</a
            >
        </li>
    </ul>
</li>
