<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Profilo</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Profilo Utente</li>
                </ol>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <!-- Profile Image -->
                <div class="card card-primary card-outline">
                    <div class="card-body box-profile">
                        <div class="text-center">
                            <img
                                class="profile-user-img img-fluid img-circle"
                                src="assets/img/default-profile.png"
                                alt="User profile picture"
                            />
                        </div>

                        <h3 class="profile-username text-center">
                            {{ user ? user.firstName : '' }}
                            {{ user ? user.lastName : '' }}
                        </h3>

                        <p class="text-muted text-center">
                            {{ user ? user.role[0] : '' }}
                        </p>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->

            <div class="col-md-9">
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Dati Anagrafici</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-8">
                                <form
                                    name="userForm"
                                    [formGroup]="userForm"
                                    (ngSubmit)="saveEntity()"
                                    novalidate
                                >
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input
                                            type="text"
                                            formControlName="email"
                                            class="form-control"
                                            [ngClass]="{
                                                'is-invalid':
                                                    submitted && f.email.errors
                                            }"
                                            required
                                        />
                                        <div
                                            *ngIf="
                                                (f.email.dirty ||
                                                    f.email.touched) &&
                                                f.email.errors
                                            "
                                            class="invalid-feedback"
                                        >
                                            <div
                                                *ngIf="f.email.errors.required"
                                            >
                                                Richiesta
                                            </div>
                                            <div *ngIf="f.email.errors.email">
                                                L'Email non valida
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="firstName">Nome</label>
                                        <input
                                            type="text"
                                            formControlName="firstName"
                                            class="form-control"
                                            [ngClass]="{
                                                'is-invalid':
                                                    submitted &&
                                                    f.firstName.errors
                                            }"
                                        />
                                    </div>
                                    <div class="form-group">
                                        <label for="lastName">Cognome</label>
                                        <input
                                            type="text"
                                            formControlName="lastName"
                                            class="form-control"
                                            [ngClass]="{
                                                'is-invalid':
                                                    submitted &&
                                                    f.lastName.errors
                                            }"
                                        />
                                    </div>
                                    <div class="form-group" *ngIf="utente">
                                        <label for="obbiettivoGiornaliero">Obbiettivo Giornaliero (kcal)</label>
                                        <input
                                            type="text"
                                            formControlName="obbiettivoGiornaliero"
                                            class="form-control"
                                            [ngClass]="{
                                                'is-invalid':
                                                    submitted &&
                                                    f.obbiettivoGiornaliero.errors
                                            }"
                                        />
                                    </div>
                                    <div class="form-group" *ngIf="utente">
                                        <label for="schedino">Smart Scale</label>
                                        <input
                                            type="text"
                                            formControlName="schedino"
                                            (change)="onChangeSchedino($event.target.value)"
                                            class="form-control"
                                            [ngClass]="{
                                                'is-invalid':
                                                    submitted &&
                                                    f.schedino.errors
                                            }"
                                        />
                                    </div>
                                    <div class="col-sm-12" *ngIf="schedini && utente && false">
                                        <div class="form-group">
                                            <label>Smart Scale</label>
                                            <select
                                            
                                                formControlName="schedinoId"
                                                (change)="onChangeSchedino($event.target.value)"
                                                class="custom-select"
                                                required
                                            >
                                                <option value="">Seleziona</option>
                                                <option
                                                    *ngFor="let schedino of schedini"
                                                    [value]="schedino.id"
                                                >
                                                    {{ schedino.nome }} ( {{schedino.codice}} )
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button
                                            [disabled]="
                                                userForm.pristine ||
                                                userForm.invalid
                                            "
                                            class="btn btn-primary"
                                        >
                                            Salva
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->

                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Cambio Password</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-8">
                                <form
                                    name="passwordForm"
                                    [formGroup]="passwordForm"
                                    (ngSubmit)="changePassword()"
                                    novalidate
                                >
                                    <div class="form-group">
                                        <label for="password">Password</label>
                                        <input
                                            type="password"
                                            formControlName="password"
                                            class="form-control"
                                            [ngClass]="{
                                                'is-invalid':
                                                    submitted &&
                                                    f2.password.errors
                                            }"
                                            required
                                        />
                                        <div
                                            *ngIf="
                                                (f2.password.dirty ||
                                                    f2.password.touched) &&
                                                f2.password.errors
                                            "
                                            class="invalid-feedback"
                                        >
                                            <div
                                                *ngIf="
                                                    f2.password.errors.required
                                                "
                                            >
                                                Richiesta
                                            </div>
                                            <div
                                                *ngIf="
                                                    f2.password.errors.minlength
                                                "
                                            >
                                                La Password deve essere di
                                                almeno 6 caratteri
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="matchingPassword"
                                            >Conferma Password</label
                                        >
                                        <input
                                            type="password"
                                            formControlName="matchingPassword"
                                            class="form-control"
                                            [ngClass]="{
                                                'is-invalid':
                                                    submitted &&
                                                    f2.matchingPassword.errors
                                            }"
                                            required
                                        />
                                        <div
                                            *ngIf="
                                                (f2.matchingPassword.dirty ||
                                                    f2.matchingPassword
                                                        .touched) &&
                                                f2.matchingPassword.errors
                                            "
                                            class="invalid-feedback"
                                        >
                                            <div
                                                *ngIf="
                                                    f2.matchingPassword.errors
                                                        .required
                                                "
                                            >
                                                Richieste
                                            </div>
                                            <div
                                                *ngIf="
                                                    f2.matchingPassword.errors
                                                        .mustMatch
                                                "
                                            >
                                                La Password deve corrispondere
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <button
                                            [disabled]="
                                                passwordForm.pristine ||
                                                passwordForm.invalid
                                            "
                                            class="btn btn-primary"
                                        >
                                            Salva
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- /.row -->
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
