<div class="contextmenu" 
  [ngStyle]="{'left.px': x, 'top.px': y}"
  [ngClass]="{'d-none': !isShow}">
  <a class="dropdown-item context-menu"
   (mousedown)="onEdit($event)">Edit</a>
  <a class="dropdown-item context-menu"
   (mousedown)="onAssessment($event)">Assessments</a>
</div>
