.contextmenu {
  position: absolute;
  background: #fff;
  border-radius: 5px;

  -moz-box-shadow: 0px 0px 1px #000000;
  -webkit-box-shadow: 0px 0px 1px #000000;
  box-shadow: 0px 0px 1px #000000;
}

.dropdown-item:hover {
  background: #E4E5E6;
  cursor: pointer;
}

a:first-child {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

a:last-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.d-none {
  display: none;
}
