<div class="loginBox">
    <div class="loginHeader">
        <img
            *ngIf="false"
            src="../../../assets/img/logo-blu.png"
            class="img-logo-login"
        />
        <a [routerLink]="['/login']" class="h2"><b>Smart Scale</b></a>
    </div>
    <div class="card-body">
        <p class="login-box-msg">Effettua la login per iniziare</p>

        <form [formGroup]="loginForm" (ngSubmit)="loginByAuth()">
            <div class="input-group mb-3">
                <input
                    formControlName="email"
                    type="email"
                    class="form-control"
                    placeholder="Email"
                />
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <input
                    formControlName="password"
                    type="password"
                    class="form-control"
                    placeholder="Password"
                />
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-7" *ngIf="false">
                    <div class="icheck-primary">
                        <input type="checkbox" id="remember" />
                        <label for="remember"> Remember Me </label>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-5">
                    <app-button
                        class="loginButton"
                        [type]="'submit'"
                        [block]="true"
                        [loading]="isAuthLoading"
                        [disabled]="isFacebookLoading || isGoogleLoading"
                    >
                        LogIn
                    </app-button>
                </div>
                <!-- /.col -->
            </div>
        </form>

        <!--
        <div class="social-auth-links text-center mb-3">
            <app-button
                class="mb-2"
                [block]="true"
                [loading]="isFacebookLoading"
                [disabled]="isAuthLoading || isGoogleLoading"
                [icon]="'facebook'"
                (click)="loginByFacebook()"
            >
                Sign in using Facebook
            </app-button>
            <app-button
                [block]="true"
                [loading]="isGoogleLoading"
                [disabled]="isAuthLoading || isFacebookLoading"
                [icon]="'google'"
                [color]="'danger'"
                (click)="loginByGoogle()"
            >
                Sign in using Google+
            </app-button>
        </div>
        -->

        <p class="loginLink" *ngIf="false">
            <a class="loginLink" [routerLink]="['/forgot-password']">
                Password dimenticata
            </a>
        </p>
        <p class="loginLink">
            <a class="loginLink" [routerLink]="['/register']">
                Registrati
            </a>
        </p>
    </div>
    <!-- /.login-card-body -->
</div>
