.loginHeader {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.loginBox {
    background-color: #fff;

    border: 2px solid #007bff;
    border-radius: 10px;
}
.loginLink {
    color: #007bff;
}
.loginButton {
    background-color: #60e160 !important;
    border-color: #60e160 !important;
}

.img-logo-login {
    height: 100px;
    width: auto;
    margin-top: 20px;
    image-rendering: -webkit-optimize-contrast;
}

.input-group-text {
    margin-top: 10px;
}
