<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Gestione Prodotti</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item">
                        <a routerLink="/prodotto">Prodotti</a>
                    </li>
                    <li class="breadcrumb-item active">{{ title }}</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="card card-primary">
            <div class="card-header"></div>

            <div class="card-body">
                <form
                    name="form"
                    [formGroup]="prodottoForm"
                    (ngSubmit)="saveEntity()"
                    novalidate
                >
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group" *ngIf="superuser && false">
                                <label for="compagniaId">Compagnia</label>
                                <select
                                    formControlName="compagniaId"
                                    (change)="
                                        onChangeCompagnia($event.target.value)
                                    "
                                    class="form-control"
                                    [ngClass]="{
                                        'is-invalid':
                                            submitted && f.compagniaId.errors
                                    }"
                                    required
                                >
                                    <option value="">Seleziona</option>
                                    <option
                                        *ngFor="let organization of compagnie"
                                        [value]="organization.id"
                                    >
                                        {{ organization.ragioneSociale }}
                                    </option>
                                </select>
                                <div
                                    *ngIf="
                                        (f.compagniaId.dirty ||
                                            f.compagniaId.touched) &&
                                        f.compagniaId.errors
                                    "
                                    class="invalid-feedback"
                                >
                                    <div *ngIf="f.compagniaId.errors.required">
                                        Richiesta
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="nome">Nome</label>
                                <input
                                    type="text"
                                    formControlName="nome"
                                    class="form-control"
                                    [ngClass]="{
                                        'is-invalid':
                                            submitted && f.nome.errors
                                    }"
                                />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="codice">Codice</label>
                                <input
                                    type="text"
                                    formControlName="codice"
                                    class="form-control"
                                    [ngClass]="{
                                        'is-invalid':
                                            submitted && f.codice.errors
                                    }"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="calorie">Calorie</label>
                                <input
                                    type="text"
                                    formControlName="calorie"
                                    class="form-control"
                                    [ngClass]="{
                                        'is-invalid':
                                            submitted && f.calorie.errors
                                    }"
                                />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="carboidrati">Carboidrati</label>
                                <input
                                    type="text"
                                    formControlName="carboidrati"
                                    class="form-control"
                                    [ngClass]="{
                                        'is-invalid':
                                            submitted && f.carboidrati.errors
                                    }"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="proteine">Proteine</label>
                                <input
                                    type="text"
                                    formControlName="proteine"
                                    class="form-control"
                                    [ngClass]="{
                                        'is-invalid':
                                            submitted && f.proteine.errors
                                    }"
                                />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="grassi">Grassi</label>
                                <input
                                    type="text"
                                    formControlName="grassi"
                                    class="form-control"
                                    [ngClass]="{
                                        'is-invalid':
                                            submitted && f.grassi.errors
                                    }"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="row" *ngIf="false">
                        <div class="form-group">
                            <label for="name">Prodotto attuale</label>
                            <img [src]="getImageUrl()" [hidden]="!hasImage()" >
                        </div>
                    </div>

                    <div class="form-row" *ngIf="false">
                        <div class="form-group">
                          <label for="name">Nuovo prodotto</label>
                          <input formControlName="filePath" (change)="uploadFileChange($event)" accept=".jpg,.png,.pdf" type="file">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <div class="bottoni-form">
                                    <a
                                        class="btn btn-default"
                                        [routerLink]="'/prodotti'"
                                        >Cancella</a
                                    >
                                    <button
                                        [disabled]="
                                            prodottoForm.pristine ||
                                            prodottoForm.invalid
                                        "
                                        class="btn btn-primary"
                                    >
                                        Salva
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.row -->
                </form>
            </div>
        </div>
    </div>
    <!-- container fluid -->

    <app-s-spinner [visible]="isLoading"></app-s-spinner>
</section>
<!-- /.content -->
