<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Gestione Bilancini</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">Bilancini</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div *ngIf="superuser && false" class="col-sm-4">
                        <div class="form-group">
                            <label>Compagnia</label>
                            <select
                                [(ngModel)]="compagniaId"
                                (change)="
                                    onChangeCompagnia($event.target.value)
                                "
                                class="custom-select"
                                required
                            >
                                <option value="">Seleziona</option>
                                <option
                                    *ngFor="let organization of compagnie"
                                    [value]="organization.id"
                                >
                                    {{ organization.ragioneSociale }}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-4">
                        <label>Nome</label>
                        <input
                            type="text"
                            [(ngModel)]="nome"
                            class="form-control"
                        />
                    </div>
                    <div class="col-sm-4">
                        <label>Codice</label>
                        <input
                            type="text"
                            [(ngModel)]="codice"
                            class="form-control"
                        />
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-4">
                        <a (click)="search()" class="btn btn-success">Cerca</a>
                        <a routerLink="/addschedino" class="btn btn-primary"
                            >Nuovo Bilancino</a
                        >
                    </div>
                </div>
            </div>
            <!-- /.card-header -->

            <div class="card-body">
                <ngx-datatable
                    #naveTable
                    style="col-md-12"
                    [rows]="rows"
                    [headerHeight]="45"
                    [rowHeight]="'auto'"
                    [footerHeight]="45"
                    [columnMode]="'flex'"
                    [loadingIndicator]="isLoading"
                    [externalPaging]="true"
                    [count]="page.totalElements"
                    [offset]="page.pageNumber"
                    [limit]="page.size"
                    (page)="setPage($event)"
                >
                    <ngx-datatable-column
                        prop="id"
                        name="ID"
                        [resizeable]="false"
                        [flexGrow] = "0.8"
                    ></ngx-datatable-column>
                    <ngx-datatable-column
                        prop="nome"
                        name="Nome"
                        [resizeable]="false"
                        [flexGrow] = "0.8"
                    >
                        <ng-template
                        let-value="value"
                        ngx-datatable-cell-template
                        let-row="row"
                    >
                        {{row.nome}}
                        </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column
                        prop="codice"
                        name="Codice"
                        [resizeable]="false"
                        [flexGrow] = "0.8"
                    ></ngx-datatable-column>
                    <ngx-datatable-column
                        prop="descrizione"
                        name="Descrizione"
                        [resizeable]="false"
                        [flexGrow] = "1"
                    ></ngx-datatable-column>

                    <ngx-datatable-column 
                        name="Azioni" 
                        [resizeable]="false"
                        [flexGrow] = "0.8"
                    >
                        <ng-template
                            ngx-datatable-cell-template
                            let-rowIndex="rowIndex"
                            let-row="row"
                            ì
                        >
                            <a
                                [routerLink]="['/editschedino', row.id]"
                                title="Modifica"
                            >
                                <i class="fas fa-pencil-alt fa-lg"></i>
                            </a>
                            <i
                                (click)="deleteEntity(row)"
                                class="fas fa-trash fa-lg"
                                title="Elimina"
                            ></i>
                        </ng-template>
                    </ngx-datatable-column>
                </ngx-datatable>
            </div>
        </div>
    </div>
    <!-- Main row -->

    <app-s-spinner [visible]="isLoading"></app-s-spinner>
</section>
<!-- /.content -->
