<div class="card card-outline card-primary">
    <div class="card-header text-center">
        <a [routerLink]="['/']" class="h1"><b>Smart Scale</b></a>
    </div>
    <div class="card-body">
        <p class="login-box-msg">Registrati</p>

        <form [formGroup]="registerForm" (ngSubmit)="registerByAuth()">
            <div class="input-group mb-3">
                <input
                    formControlName="nome"
                    type="text"
                    class="form-control"
                    placeholder="Nome"
                />
            </div>
            <div class="input-group mb-3">
                <input
                    formControlName="cognome"
                    type="text"
                    class="form-control"
                    placeholder="Cognome"
                />
            </div>
            <div class="input-group mb-3">
                <input
                    formControlName="email"
                    type="email"
                    (change)="onChangeEmail($event.target.value)"
                    class="form-control"
                    placeholder="Email"
                />
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <input
                    formControlName="password"
                    type="password"
                    class="form-control"
                    placeholder="Password"
                />
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <input
                    formControlName="matchingPassword"
                    type="password"
                    class="form-control"
                    placeholder="Retype password"
                />
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                <input
                    formControlName="obbiettivo"
                    type="text"
                    class="form-control"
                    placeholder="Obbiettivo Giornaliero(kcal)"
                />
            </div>
            <div class="input-group mb-3">
                <input
                    formControlName="schedino"
                    type="text"
                    class="form-control"
                    (change)="onChangeSchedino($event.target.value)"
                    placeholder="Codice seriale della tua Smart Scale"
                />
            </div>
            <div class="col-sm-12" *ngIf="false">
                <div class="form-group">
                    <label>Seleziona il tuo schedino</label>
                    <select
                    
                        formControlName="schedino"
                        (change)="onChangeSchedino($event.target.value)"
                        class="custom-select"
                        required
                    >
                        <option value="">Seleziona</option>
                        <option
                            *ngFor="let schedino of schedini"
                            [value]="schedino.id"
                        >
                            {{ schedino.nome }} ( {{schedino.codice}} )
                        </option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <app-button
                        [type]="'submit'"
                        [block]="true"
                        [loading]="isAuthLoading"
                        [disabled]="isFacebookLoading || isGoogleLoading"
                    >
                        Registrati
                    </app-button>
                </div>
                <!-- /.col -->
            </div>
        </form>

        <div class="social-auth-links text-center" *ngIf="false">
            <app-button
                class="mb-2"
                [block]="true"
                [loading]="isFacebookLoading"
                [disabled]="isAuthLoading || isGoogleLoading"
                [icon]="'facebook'"
                (click)="registerByFacebook()"
            >
                Sign up using Facebook
            </app-button>
            <app-button
                [block]="true"
                [loading]="isGoogleLoading"
                [disabled]="isAuthLoading || isFacebookLoading"
                [icon]="'google'"
                [color]="'danger'"
                (click)="registerByGoogle()"
            >
                Sign up using Google+
            </app-button>
        </div>

        <a [routerLink]="['/login']" class="text-center">
            Se hai già un account clicca qui</a
        >
    </div>
</div>
