/* You can add global styles to this file, and also import other style files */
// @import '~bootstrap/scss/bootstrap';

@import url('https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.3.0/css/flag-icon.min.css');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700');

@import '~admin-lte/plugins/fontawesome-free/css/all.min.css';
@import '~admin-lte/plugins/icheck-bootstrap/icheck-bootstrap.min.css';

@import '~admin-lte/dist/css/adminlte.min.css';

@import '~ngx-toastr/toastr';

@import '~@swimlane/ngx-datatable/assets/icons';
@import '~ngx-bootstrap/datepicker/bs-datepicker';

@import '~@ng-select/ng-select/themes/default.theme.css';
@import '~angular-archwizard/styles/archwizard.css';

$active-tab-color: rgba(0, 0, 0, 0.7);
$nav-tab-padding: 10px;
//$default-tab-border: 1px;

@import '~ngx-tabset/ngx-tabset';

body {
    width: 100vw;
    height: 100vh;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

ngx-datatable {
    font-family: Metropolis, Avenir Next, Helvetica Neue, Arial, sans-serif;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 2px;
    padding: 0;
    background-color: #fff;

    .datatable-header,
    .datatable-footer {
        font-size: 15px;
        line-height: 18px;
        font-weight: bold;
        background-color: #fafafa;
    }
    .datatable-header {
        //border-bottom: 2px solid #ccc;
        box-shadow: 0 2px 4px 0px #ccc;
        .datatable-header-cell {
            line-height: 22px;
            padding-left: 5px;
            height: 22px;
            text-align: center !important;
        }
    }
    .datatable-header .datatable-header-cell:not(:first-child) {
        border-left: 1px solid #ccc;
    }

    .datatable-row-even {
        background-color: rgb(220, 220, 220);
    }

    .datatable-row-odd {
        background-color: rgb(255, 255, 255);
    }

    .datatable-footer {
        border-top: 1px solid #ccc;
        .page-count {
            margin: 10px;
        }
        .pages a {
            padding: 8px;
            color: inherit;
        }
        .pages.active a {
            padding: 8px;
            color: #007cbb;
            background-color: #ddd;
            text-align: center;
        }
    }

    .datatable-header-inner {
        padding: 12px;
    }
    .datatable-body-cell {
        padding: 8px 0 10px 20px;
        border-top: 1px solid #ddd;
        text-align: center;
    }
    .pager i {
        font-size: 18px;
        vertical-align: middle;
    }
}

.ng-autocomplete ::ng-deep .autocomplete-container {
    box-shadow: none;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.modal-risk {
    max-width: 1100px !important;
    margin: 1.75rem auto;
}

.modal-course {
    max-width: 800px !important;
    margin: 1.75rem auto;
}

.form-control {
    margin: 10px 0;
}

.btn {
    margin-right: 10px;
}

aw-wizard.horizontal {
    flex-direction: column;

    .wizard-steps {
        width: 100%;
        flex-direction: column !important;
    }
}

.tab-container {
    display: flex !important;
    width: 100% !important;
}

.tab-container > ul {
    width: 20%;
}

.tab-container > .tab-content {
    width: 93%;
    margin-left: 2%;
}

aw-wizard-navigation-bar.horizontal.large-filled-symbols ul.steps-indicator {
    padding: 80px 0 10px 0 !important;
}

aw-wizard-navigation-bar.horizontal.large-filled-symbols
    ul.steps-indicator
    li.editing
    .step-indicator {
    background-color: #ffffff !important;
    color: black;
    border: 1px solid black;
}

aw-wizard-navigation-bar.horizontal.large-filled-symbols
    ul.steps-indicator
    li.done
    .step-indicator {
    background-color: #7be716 !important;
    color: black;
    border: 1px solid green;
}

aw-wizard-navigation-bar.horizontal.large-filled-symbols
    ul.steps-indicator
    li.navigable.done
    a:hover
    .step-indicator {
    background-color: #ffffff !important;
    color: black;
    border: 1px solid black;
}

aw-wizard-navigation-bar.horizontal.large-filled-symbols
    ul.steps-indicator
    li.current
    .step-indicator {
    background-color: #ffffff !important;
    color: black;
    border: 1px solid black;
}

.empty-row {
    margin: 1%;
}

.card-primary:not(.card-outline)>.card-header {
  display: none !important;
}


.classe-tabset > ul {
  width: 100% !important;
  display: flex !important;
  flex-direction: row !important;
}

.classe-tabset > ul > li >  a.nav-link.active {
  border-color: none !important;
}

.ngx-datatable .datatable-body .datatable-row-wrapper {
  cursor: pointer;

}


.ngx-datatable .datatable-body .datatable-row-wrapper:hover {
  color: #007bff !important;

}



.container {
  max-width: 95% !important;
}

.input-scegli-file {
  width: 100%;
  display: block;
  border: 1px solid #007bff;
  padding: 2%;
  border-radius: 5px;
}


.form-dataset-raimondo > .tab-container > ul {
  height: 20%;
}

.div-botton-footer {
  text-align: right;
  margin-top: 2%;
  width: 100%;
}

.small-box {
  border: 1px solid #f5f5f5 !important;
}

.small-box-green {
  border: 1px solid darkolivegreen !important;
  border-radius: 7px;
  background-color: #20a026;
  padding: 5%;
  box-shadow: 4px 5px 16px rgba(99, 98, 98, 0.3);

}

.small-box-arancio > .inner {
  color: white ;
  font-weight: 600 ;


}

.small-box-green > .inner {
  color: white;
  font-weight: 600;
}


.small-box-red > .inner {
  color: white;
  font-weight: 600;
}

.small-box-blue > .inner {
  color: white;
  font-weight: 600;
}

.small-box-red {
    border: 1px solid #690000 !important;
    background-color: #cf1313;
    border-radius: 7px;
    padding: 5%;
    box-shadow: 4px 5px 16px rgba(99, 98, 98, 0.3);

}
.small-box-blue {
    border: 1px solid #0500d4 !important;
    background-color: #007bff;
    border-radius: 7px;
    padding: 5%;
    box-shadow: 4px 5px 16px rgba(99, 98, 98, 0.3);

}

.small-box-arancio{
    border: 1px solid #c96f31 !important;
    background-color: #f69e39;
    border-radius: 7px;
    padding: 5%;

    box-shadow: 4px 5px 16px rgba(99, 98, 98, 0.3);



}


.small-box>.small-box-blue {
  background-color: #007bff !important;
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.small-box>.small-box-arancio {
    background-color: #f69e39 !important;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }

  .small-box>.small-box-red {
    background-color: #cf1313 !important;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }

  .small-box>.small-box-green {
    background-color: #20a026 !important;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
  }
  .scrollable-div-table{
    width: 100%;
    //overflow-x: scroll;

}
.total-value{
  display: none !important;
}
.total-label{
  display: none !important;
}