:host {
    display: block;
}
#logo {
    width: 100%;
    height: auto;
}
#nome-compagnia {
    font-size: 1.2rem;
    font-weight: bold;
    color: #000;
}
.brand-link {
    margin: 0px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}
.brand-image {
    min-height: 100px;
    width: 100%;
    height: auto;
    object-fit: contain;
    image-rendering: -webkit-optimize-contrast;
}
