<!-- Brand Logo -->
<a [routerLink]="['/']" class="brand-link">
    <img
        id="logo"
        src="assets/img/logo-blu.png"
        alt="Ecomac Logo"
        class="brand-image"
        *ngIf="false"
    />
    <p id="nome-compagnia" *ngIf="opened && false">Mc</p>
</a>

<!-- Sidebar -->
<div class="sidebar">
    <!-- Sidebar user (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <img
                [src]="user.picture || 'assets/img/default-profile.png'"
                class="img-circle elevation-2"
                alt="User Image"
                
            />
        </div>
        <div class="info">
            <a [routerLink]="['/profile']" class="d-block">
                {{ user.email }}
            </a>
        </div>
    </div>

    <!-- Sidebar Menu -->

    <nav class="mt-2" style="overflow-y: hidden">
        <ul
            class="nav nav-pills nav-sidebar flex-column"
            data-widget="treeview"
            role="menu"
            data-accordion="false"
        >
            <app-menu-item
                *ngFor="let item of menu"
                [menuItem]="item"
            ></app-menu-item>
        </ul>
    </nav>

    <!--
    <nav class="mt-2" style="overflow-y: hidden">
        <ul
            class="nav nav-pills nav-sidebar flex-column"
            data-widget="treeview"
            role="menu"
            data-accordion="false"
        >
            <li class="nav-item">
                <a [routerLink]="['/']" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li *ngIf="superuser || companyAdmin" class="nav-item">
                <a [routerLink]="['/user']" class="nav-link">
                    <i class="nav-icon fas fa-users"></i>
                    <p>Utenti</p>
                </a>
            </li>
            <li *ngIf="superuser && false" class="nav-item">
                <a [routerLink]="['/table', '']" class="nav-link">
                    <i class="nav-icon fas fa-table"></i>
                    <p>Tabelle</p>
                </a>
            </li>
            <li *ngIf="superuser || companyAdmin" class="nav-item">
                <a [routerLink]="['/acquirenti']" class="nav-link">
                    <i class="nav-icon fas fa-user"></i>
                    <p>Acquirenti</p>
                </a>
            </li>
            <li *ngIf="superuser || companyAdmin" class="nav-item">
                <a [routerLink]="['/operatori']" class="nav-link">
                    <i class="nav-icon fas fa-user"></i>
                    <p>Operatori</p>
                </a>
            </li>
            <li *ngIf="superuser || companyAdmin" class="nav-item">
                <a [routerLink]="['/scout']" class="nav-link">
                    <i class="nav-icon fas fa-user"></i>
                    <p>Scout</p>
                </a>
            </li>
            <li *ngIf="superuser || companyAdmin || operatoreuser" class="nav-item">
                <a [routerLink]="['/contratti']" class="nav-link">
                    <i class="nav-icon fas fa-file-contract"></i>
                    <p>Contratti</p>
                </a>

            </li>
            <li *ngIf="superuser || companyAdmin || operatoreuser" class="nav-item">
                <a [routerLink]="['/progetti']" class="nav-link">
                    <i class="nav-icon fas fa-project-diagram"></i>
                    <p>Progetti</p>
                </a>
            </li>
            <li *ngIf="superuser || companyAdmin || scoutuser || operatoreuser" class="nav-item has-treeview">
                <a [routerLink]="['/screenings']" class="nav-link">
                    <i class="nav-icon fas fa-tasks"></i>
                    <p>Screening
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview" >
                    <li class="nav-item">
                      <a [routerLink]="['/contratti']" class="nav-link">
                        <i class="fas fa-file-contract nav-icon"></i>
                        <p>Contratto preliminare</p>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a [routerLink]="['/contratti']" class="nav-link">
                        <i class="fas fa-file-contract nav-icon"></i>
                        <p>Contratto definitivo</p>
                      </a>
                    </li>
                </ul>
            </li>
            <li *ngIf="superuser || companyAdmin || operatoreuser" class="nav-item">
                <a [routerLink]="['/sviluppi']" class="nav-link">
                    <i class="nav-icon fas fa-tasks"></i>
                    <p>Sviluppo</p>
                </a>
            </li>
        </ul>
    </nav>-->
</div>
